h1 {
    color: greenyellow;
    text-underline-position: inline;
}
body {
    background-color: grey;
}
p {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
img{
    height: 500px;
    width: 1400px;
}